<div class="flex align-middle items-center justify-around ">
    <button (click)="createAccount()"
        class="text-white w-2/12 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300  rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        افتتاح حساب</button>
    <h1 class="w-2/3 font-bold text-xl">لیست حساب های من </h1>
</div>
<div>
    <div class="container mx-auto p-4">
        <table class="min-w-full bg-white border border-gray-200" dir="rtl">
            <thead>
                <tr class="bg-gray-200">
                    <th class="p-1 border-b">ردیف</th>
                    <th class="p-1 border-b">شماره حساب </th>
                    <th class="p-1 border-b">شماره شبا </th>
                    <th class="p-1 border-b">موجودی حساب</th>
                    <th class="p-1 border-b">عملیات</th>

                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let account of myAccounts; index as i;">
                    <tr>
                        <td class="py-2 px-4 border-b">
                            {{ i + 1 }}</td>
                        <td class="py-2 px-4 border-b leading-5" dir="ltr">
                            {{ account.accNumber }}</td>
                        <td class="py-2 px-4 border-b leading-5" dir="ltr">
                            {{ account.shabaNumber | separateDash}}</td>
                        <td class="py-2 px-4 border-b leading-5">
                            {{ account.accBalance | number:'0.0-3'}} ریال</td>
                        <td class="p-1 border-b leading-5 ">
                            <button
                                class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-xl  px-5 py-2.5 text-center me-2 mb-2"
                                (click)="deleteMyAccount(account.id)">حذف</button>
                        </td>
                    </tr>
                </ng-container>

            </tbody>
        </table>
    </div>


</div>